body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,blue, green) 
    
}

#user-interface{
    border: 2px black solid;
    background-color: rgb(228, 221, 221);

}